[safe]
	directory = /opt/runwhen/codecollection-cache
	directory = /opt/runwhen/codecollection-cache/aws-c7n-codecollection.git
	directory = /opt/runwhen/codecollection-cache/azure-c7n-codecollection.git
	directory = /opt/runwhen/codecollection-cache/rw-cli-codecollection.git
	directory = /opt/runwhen/codecollection-cache/rw-public-codecollection.git
	directory = /opt/runwhen/codecollection-cache/rw-workspace-utils.git
	directory = /tmp/*
	directory = /tmp/tmp*
