kind: source
spec:
  name: "gcp"
  spec: 
      service_account_key_json: '$service_account_key_json'
  path: "cloudquery/gcp"
  version: "v9.9.2"
  registry: "cloudquery"
  destinations: ["{{destination_plugin_name}}"]
  tables: [
    {% for table_name in tables %}
    "{{table_name}}",
    {% endfor %}
  ]
  spec:
    project_ids: [
      {% for project in projects %}
      "{{project}}",
      {% endfor %}
    ]
