{% raw %}
{% extends "main.html" %}

{% block header %}
  {{ super() }}	
{% endblock %} 

{% block tabs %}
{{ super() }}
{% import "partials/language.html" as lang with context %}

{% endraw %}
<div class="custom-section">
  <div class="home-title">
      <br><br>
      RunWhen | Troubleshooting Cheat Sheet
  </div>
  <div class="home-subtitle"><br><br>Discover the Troubleshooting Tasks from an <b>Expert Community</b><br>that powers the brain of the <b>RunWhen Platform Digital Assistants</b></p><br>
  <div class="button-container">
    <button type="button" class="front-page-button"><a href="/tags/#kubernetes">{{ summarized_resources["num_clusters"] }} Kubernetes Cluster(s)</a></button>
    <button type="button" class="front-page-button"><a href="/list">{{ summarized_resources["groups"] }} Groups</a></button>
  </div>
  <p  class="home-subtitle"><b>{{ command_generation_summary_stats["total_interesting_commands"] }} customized tasks</b> across <b>{{total_codebundles}} codebundles</b> from <b>{{ command_generation_summary_stats["num_unique_authors"] }} contributors</b> </p>
  <br>
  </div>
</div>
</div>


{% raw %}
{% endblock %}

{% block content %}
{{ page.content }}
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
{% endraw %}
