---
title: Home
template: home.html
hide:
  - navigation
  - toc
---

<div class="md-grid">
  <h2>Top Troubleshooting Categories</h2><hr>
  <p>Troubleshooting tasks that matched your environment also support the following technologies:</p>
  <div class="tag-card-grid" markdown>
    {% for tag in tags_with_icons %}
    <div class="tag-card">
    <a href="/tags/#{{ tag.name | lower }}">
        {% if tag.icon_url %}
            <img class="tag-card-icon" src="{{ tag.icon_url }}" alt="{{ tag.name }} icon">
        {% endif %}
        <br>
        {{ tag.name }}
    </a>
    </div>
    {% endfor %}
     <div class="tag-card">
    <a href="/tags/">Browse All Categories</a>
    </div>
  </div>
</div>
<br><br>
<div class="home-column-container">

<div class="home-column">
  <h2> RunWhen Platform Resources </h2><hr>
  <div class="card-grid" markdown>
    <div class="card">
    <img class="card-icon" src="https://storage.googleapis.com/runwhen-nonprod-shared-images/icons/cloud_upload.svg" alt="Icon" />
    <a href="/platform-upload/"><br>
    Upload Workspace Configuration to RunWhen Platform
    </a>
    </div>
  </div>
</div>
<div class="home-column">
  <h2> Community Resources </h2><hr>

  <div class="card-grid" markdown>
    <div class="home-card">
        <img class="card-icon" src="https://storage.googleapis.com/runwhen-nonprod-shared-images/icons/people_community.svg" alt="Icon" />
      <h6 class="card-title">
      <a href="https://registry.runwhen.com" target="_blank">
      Explore the CodeCollection Registry
      </a>
    </div>
    <div class="home-card">
        <img class="card-icon" src="https://storage.googleapis.com/runwhen-nonprod-shared-images/icons/share.svg" alt="Icon" />
      <h6 class="card-title">
      <a href="https://github.com/runwhen-contrib/runwhen-local/issues/new?assignees=stewartshea&labels=runwhen-local%2Cawesome-command-contribution&projects=&template=awesome-command-contribution.yaml&title=%5Bawesome-command-contribution%5D+" target="_blank">
      Share an <b>awesome command</b>
      </a>
    </div>
    <div class="home-card">
      <a href="https://docs.runwhen.com/public/v/runwhen-authors" target="_blank">
      <img class="card-icon" src="https://storage.googleapis.com/runwhen-nonprod-shared-images/icons/code_blocks.svg" alt="Icon" />
      <h6 class="card-title"> Join the (Paid) RunWhen Authors Program
      </a>
    </div>
    <div class="home-card">
        <a href="https://github.com/runwhen-contrib/runwhen-local/issues/new?assignees=stewartshea&labels=runwhen-local%2Cnew-command-request&projects=&template=commands-wanted.yaml&title=%5Bnew-command-request%5D+" target="_blank">
        <img class="card-icon" src="https://storage.googleapis.com/runwhen-nonprod-shared-images/icons/help_center.svg" alt="Icon" />
      <h6 class="card-title"> Request help from the community
      </a>
    </div> 
        <div class="home-card">
        <a href="https://runwhen.slack.com/join/shared_invite/zt-1l7t3tdzl-IzB8gXDsWtHkT8C5nufm2A#/shared-invite/email" target="_blank">
        <img class="card-icon" src="https://storage.googleapis.com/runwhen-nonprod-shared-images/icons/slack_black.svg" alt="Icon" />
      <h6 class="card-title"> Connect on Slack
      </a>
    </div> 
  </div>
</div>

</div>